services:
  - type: web
    name: sudachipy-api
    env: docker
    region: singapore
    plan: free
    healthCheckPath: /health
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8000
      - key: PYTHONUNBUFFERED
        value: 1
